.modal {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  display: none;
  justify-content: center;
  align-items: center;
}

.modal.is-open {
  display: flex;
}

.modal-container {
  padding: 1rem;
  min-width: none;
  min-height: none;
  max-width: 1000px;
  max-height: 1000px;
  overflow-y: auto;
  background-color: #ffff;
  position: relative;
}

.modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.modalPic {
  background-color: transparent;
  border: none;
}

.modalForm {
  display: block;
}

input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}
h5 {
  margin-top: 20px;
  text-align: left;
  margin-bottom: 5px;
}
