html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: sans-serif;
}

.allBody{
  text-align: center;
}

.nasaImage{
  height: 200px;
  width: 200px;
}

button{
  border: thin solid #444;
  color: white;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  margin: 0 0.5 0 0;
  display: inline-block;
  background-color: #0aaf57;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1;
  text-transform: none;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}
